---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
    <h1>Acerca del projecto</h1>

    <p>Este projecto de SpaceX es una Demo para aprender Astro</p>
</Layout>
