---
// HeaderButton.astro
const { href, class: className, children } = Astro.props;
---

<a
    href={href}
    rel="noopener noreferrer"
    class="relative min-w-[250px] border-blue-300 hover:border-blue-400
     flex justify-center items-center overflow-hidden rounded-xl
     border bg-slate-800/50 w-full py-4 h-24 px-12 transition hover:bg-slate-800/75 hover:shadow-lg group"
>
    {children}
    <slot name="after" />
    <slot />
</a>
